
<accordion>
    <accordion-group class="accordion-button-dark" heading="EROPA">
      <p><a routerLink="/eropa/champions">Liga Champions</a></p>
      <p><a routerLink="/eropa/inggris">Liga Inggris</a></p>
      <p><a routerLink="/eropa/spanyol">Liga Spanyol</a></p>
      <p><a routerLink="/eropa/italia">Liga Italia</a></p>
      <p><a routerLink="/eropa/perancis">Liga Perancis</a></p>
      <p><a routerLink="/eropa/others">Lain-Lain</a></p>
    </accordion-group>
    <accordion-group heading="INDONESIA">
      <p><a routerLink="/indonesia/timnas">Tim Nasional</a></p>
      <p><a routerLink="/indonesia/liga">Liga Indonesia</a></p>
    </accordion-group>
    <accordion-group heading="JADWAL & SKOR">
      <p><a routerLink="/jadwal-skor">Jadwal dan Skor</a></p>
    </accordion-group>
    <accordion-group heading="PEMBAHASAN">
      <p><a routerLink="/pembahasan/taktik">Taktik</a></p>
      <p><a routerLink="/pembahasan/prediksi">Prediksi</a></p>
      <p><a routerLink="/pembahasan/sejarah">Sejarah</a></p>
    </accordion-group>
  </accordion>