<!-- <h2>Pick Your Fantasy Team</h2>
<br>

<form novalidate [formFroup]="taktik" (ngSubmit)="onSubmit(mahasiswa)" class="form-horizontal">
  <div class="form-group form-row">
    <label class="col-sm-2  control-label">Goalkeeper</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" formControlName="keeper" placeholder="Goalkeeper">
    </div>
  </div>
<div formGroupName="player">
  <div class="form-group form-row">
    <label for="inputPlayer" class="col-sm-2  control-label">Player</label>
    <div class="col-sm-4">
      <input type="text" formControlName="player1" class="form-control" placeholder="Player">
    </div>
  </div>
  <div class="form-group form-row">
    <label for="inputPlayer" class="col-sm-2  control-label">Player</label>
    <div class="col-sm-4">
      <input type="text" formControlName="player2" class="form-control" placeholder="Player">
    </div>
  </div>
  <div class="form-group form-row">
    <label for="inputPlayer" class="col-sm-2  control-label">Player</label>
    <div class="col-sm-4">
      <input type="text" name="player3" class="form-control" placeholder="Player">
    </div>
  </div>
  <div class="form-group form-row">
    <label for="inputPlayer" class="col-sm-2  control-label">Player</label>
    <div class="col-sm-4">
      <input type="text" name="player4" class="form-control" placeholder="Player">
    </div>
  </div>
  <div class="form-group form-row">
    <label for="inputPlayer" class="col-sm-2  control-label">Player</label>
    <div class="col-sm-4">
      <input type="text" name="player5" class="form-control" placeholder="Player">
    </div>
  </div>
  <div class="form-group form-row">
    <label for="inputPlayer" class="col-sm-2  control-label">Player</label>
    <div class="col-sm-4">
      <input type="text" name="player6" placeholder="Player" class="form-control" >
    </div>
  </div>
  <div class="form-group form-row">
    <label for="inputPlayer" class="col-sm-2  control-label">Player</label>
    <div class="col-sm-4">
      <input type="text" name="player7" placeholder="Player" class="form-control">
    </div>
  </div>
  <div class="form-group form-row">
    <label for="inputPlayer" class="col-sm-2  control-label">Player</label>
    <div class="col-sm-4">
      <input type="text" name="player8" placeholder="Player" class="form-control">
    </div>
  </div>
  <div class="form-group form-row">
    <label for="inputPlayer" class="col-sm-2  control-label">Player</label>
    <div class="col-sm-4">
      <input type="text" name="player9" placeholder="Player" class="form-control">
    </div>
  </div>
  <div class="form-group form-row">
    <label for="inputPlayer" class="col-sm-2  control-label">Player</label>
    <div class="col-sm-4">
      <input type="text" name="player10" placeholder="Player" class="form-control">
    </div>
  </div>
</div>
  <div class="form-group">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form> -->